name: auto update nixpkgs

on:
  schedule:
    - cron: 30 22 * * * # every day 1:30 UTC+3
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# permissions:
#   contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
          token: ${{ secrets.PAT }}

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: update nixpkgs
        run: nix flake update nixpkgs nixpkgs-unstable nixos-raspberrypi

      - name: push to main branch
        run: |
          git config --global user.name "Server Updater"
          git config --global user.email "server-updater@alper-celik.dev"
          git add flake.lock
          git commit -m "update nixpkgs" || echo "No changes to commit"
          git push origin main
