name: auto deployment

on:
  push:
    branches: ["main"]

  workflow_run:
    workflows: ["Update DNS"]
    types:
      - completed

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do  cancel in-progress runs as we probably deployed older commits localy so we shouldn't rollback to old versions when we push
concurrency:
  group: "deployment"
  cancel-in-progress: true

jobs:
  updateDns-build-deploy:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
      - name: Checkout
        uses: actions/checkout@v3

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          install_url: https://releases.nixos.org/nix/nix-2.31.2/install

      - name: update dns
        run: ./dns/update-dns.sh --doit
        env:
          CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}

      - name: install ssh key
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo  "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          ssh-keyscan rpi5.tailnet.alper-celik.dev > ~/.ssh/known_hosts
          ssh-keyscan hetzner-server-1.devices.alper-celik.dev >> ~/.ssh/known_hosts
          # ssh-keyscan network-vm > ~/.ssh/known_hosts
        env:
          SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: true

      - name: build/check
        run: nix flake check

      - name: deploy
        run: ./deploy.sh
